@import "tailwindcss";



@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik/Rubik-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik/Rubik-BoldItalic.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik/Rubik-ExtraBold.ttf");
  font-weight: 900;
}
